<%- include('partials/head') %>

  <style>
    .iframe-container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      /* 16:9 ratio */
      height: 0;
      overflow: hidden;
    }

    .iframe-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 90%;
      border: 0;
    }
  </style>
      <script>
        window.onload = function() {
            var currentUrl = document.location.href;
        };
    </script>

  <body data-mobile-nav-style="classic">
    <%- include('partials/header') %>


      <section
        class="top-space-margin border-top border-color-extra-medium-gray pt-20px pb-20px ps-45px pe-45px lg-ps-35px lg-pe-35px md-ps-15px md-pe-15px sm-ps-0 sm-pe-0">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-12 breadcrumb breadcrumb-style-01 fs-14 alt-font">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li>
                  <%= globalContent.page_title %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-40px pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 md-mb-40px"
              data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
              <% const prodImgs=JSON.parse(decodeURIComponent(data.images))[0].img %>
                <% if(prodImgs && prodImgs.length>0){%>
                  <div class="row overflow-hidden position-relative">
                    <div class="col-12 position-relative product-image">
                      <div class="swiper product-image-slider"
                        data-slider-options='{ "spaceBetween": 0, "watchOverflow": true, "navigation": { "nextEl": ".slider-product-next", "prevEl": ".slider-product-prev" }, "thumbs": { "swiper": { "el": ".product-image-thumb", "slidesPerView": "5", "spaceBetween": 15 } } }'
                        data-swiper-thumb-click="1">
                        <div class="swiper-wrapper">
                          <% for(var i=0;i<prodImgs.length;i++){%>
                            <div class="swiper-slide gallery-box">
                              <a href="/api/transform/<%= prodImgs[i] %>" data-group="lightbox-gallery"
                                title="<%= prodImgs[i].title %>">
                                <img class="w-100" src="/api/transform/<%= prodImgs[i] %>" alt />
                              </a>
                            </div>
                            <%}%>
                        </div>
                      </div>
                      <div
                        class="slider-product-next swiper-button-next border-radius-100 border border-1 border-color-extra-medium-gray">
                        <i class="fa fa-chevron-right text-dark-gray icon-very-small"></i>
                      </div>
                      <div
                        class="slider-product-prev swiper-button-prev border-radius-100 border border-1 border-color-extra-medium-gray">
                        <i class="fa fa-chevron-left text-dark-gray icon-very-small"></i>
                      </div>
                    </div>
                    <div class="col-12 position-relative">
                      <div class="swiper-container product-image-thumb">
                        <div class="swiper-wrapper">

                          <% for(i=0;i<prodImgs.length;i++){%>
                            <div class="swiper-slide">
                              <img class="w-100" src="/api/transform/<%= prodImgs[i] %>" alt />
                            </div>
                            <%}%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}else{%>
                    <div class="row overflow-hidden position-relative">
                      <div class="col-12 position-relative product-image">
                        <div class="swiper product-image-slider"
                          data-slider-options='{ "spaceBetween": 0, "watchOverflow": true, "navigation": { "nextEl": ".slider-product-next", "prevEl": ".slider-product-prev" }, "thumbs": { "swiper": { "el": ".product-image-thumb", "slidesPerView": "5", "spaceBetween": 15 } } }'
                          data-swiper-thumb-click="1">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide gallery-box">
                              <a href="/api/transform/<%=  data.data_image  %>" data-group="lightbox-gallery"
                                title="<%= data.name %>">
                                <img class="w-100" src="/api/transform/<%= data.data_image %>" alt />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%}%>
            </div>
            <div class="col-lg-5 offset-lg-1 product-info"
              data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
              <span class="fw-500 text-dark-gray d-block">
                <%= manufacturer.name %>
              </span>
              <h5 class="alt-font text-dark-gray fw-700 mb-10px">
                <%= data.name %>
              </h5>
              <div class="d-block d-sm-flex align-items-center mb-20px">
                <% var avg_rate=0; avg_rate=avg_rate/reviews.length %>
                    <span class="text-golden-yellow ls-minus-1px mb-5px sm-me-10px sm-mb-0 d-inline-block d-md-block">

                      <% for(var i=0;i<avg_rate;i++ ){%>
                        <i class="bi bi-star-fill"></i>
                        <%}%>
                          <% for(var i=0;i<5-avg_rate;i++ ){%>
                            <i class="feather icon-feather-star text-golden-yellow"></i>
                            <%}%>
                    </span>
                    <div>
                      <span class="text-dark-gray ms-5px fw-500">SKU: </span>
                      <%= data.sku %>
                    </div>
              </div>
              <% if(data.substract_stock ==0){%>
                <div class="product-pricezmb-10px">
                  <span class="text-dark-gray fs-28 xs-fs-24 fw-700 ls-minus-1px">
                    <% if(data.spl_price !==data.price) { %>
                      <del class="text-medium-gray me-10px fw-400">₹ <%= data.price %></del>
                      <% } %>
                        ₹ <%= parseFloat(data.spl_price).toFixed(2) %>
                  </span>
                </div>
                <form id="add-to-cart-form"
                  class="d-flex align-items-center flex-column flex-sm-row mb-20px position-relative">
                  <div class="quantity me-15px xs-mb-15px order-1">
                    <button type="button" class="qty-minus">-</button>
                    <input class="qty-text" name="quantity" type="text" id="1" value="1" max="2"
                      aria-label="qty-text" />
                    <input style="display: none;" type="hidden" name="productId" value="<%= data.id %>" />
                    <button type="button" class="qty-plus">+</button>
                  </div>
                  <span id="add-to-cart-form"
                    class="btn btn-cart btn-extra-large btn-switch-text btn-box-shadow btn-none-transform btn-dark-gray left-icon border-radius-5px me-15px xs-me-0 order-3 order-sm-2">
                    <span id="add-to-cart-submit">
                      <span><i class="feather icon-feather-shopping-bag"></i></span>
                      <span class="btn-double-text" data-text="Add to cart">Add to cart</span>
                    </span>
                  </span>
                  <!-- <a href="#"
              class="wishlist d-flex align-items-center justify-content-center border border-radius-5px border-color-extra-medium-gray order-2 order-sm-3">
              <i class="feather icon-feather-heart icon-small text-base-color"></i>
            </a> -->
                </form>
                <% }else if(data.quantity ==0){%><span class="text-red fs-28 fw-700 ls-minus-1px">
                    Out Of Stock!!
                  </span>
                  <%}else{%>
                    <div class="product-pricezmb-10px">
                      <span class="text-dark-gray fs-28 xs-fs-24 fw-700 ls-minus-1px">
                        <% if(data.spl_price !==data.price) { %>
                          <del class="text-medium-gray me-10px fw-400">₹ <%= data.price %></del>
                          <% } %>
                            ₹ <%= parseFloat(data.spl_price).toFixed(2) %>
                      </span>
                    </div>
                    <form id="add-to-cart-form"
                      class="d-flex align-items-center flex-column flex-sm-row mb-20px position-relative">
                      <div class="quantity me-15px xs-mb-15px order-1">
                        <button type="button" class="qty-minus">-</button>
                        <input class="qty-text" name="quantity" type="text" id="1" value="1" max="2"
                          aria-label="qty-text" />
                        <input style="display: none;" type="hidden" name="productId" value="<%= data.id %>" />
                        <button type="button" class="qty-plus">+</button>
                      </div>
                      <span id="add-to-cart-form"
                        class="btn btn-cart btn-extra-large btn-switch-text btn-box-shadow btn-none-transform btn-dark-gray left-icon border-radius-5px me-15px xs-me-0 order-3 order-sm-2">
                        <span id="add-to-cart-submit">
                          <span><i class="feather icon-feather-shopping-bag"></i></span>
                          <span class="btn-double-text" data-text="Add to cart">Add to cart</span>
                        </span>
                      </span>
                      <!-- <a href="#"
                  class="wishlist d-flex align-items-center justify-content-center border border-radius-5px border-color-extra-medium-gray order-2 order-sm-3">
                  <i class="feather icon-feather-heart icon-small text-base-color"></i>
                </a> -->
                    </form>
                    <%}%>
                   <% if(data.brochure){%> <a class="mb-4 fs-17 text-decoration-line-bottom btn" data-text="Add to cart" onclick="openPdf()"><i class="bi bi-file-earmark-pdf-fill me-5px "></i>Sell Sheet</a><%}%>
                    <div class="bg-very-light-gray ps-15px pe-15px pt-15px pb-15px mb-20px xs-p-25px d-flex border-radius-4px">
                      <a href="https://wa.me/<%= store_setting.phone_no %>/?
                        text=<%= encodeURIComponent(`Enquiry Regarding Name:${data.name}\n SKU:${data.sku} Manufacturer:${manufacturer.name}`) %>" target="_blank"
                        class=" bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                        data-bs-toggle="tooltip"  data-bs-placement="top" title="Message us on Whatsapp"><i
                          class="bi bi-whatsapp fs-15"></i></a>
                          <a href="tel:<%= store_setting.phone_no %>"
                            class=" bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Call us"><i
                              class="bi bi-telephone-outbound-fill fs-15"></i></a>
                              <a href="email:<%= store_setting.email %>"
                                class=" bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Mail us"><i
                                  class="bi bi-envelope fs-15"></i></a>

                    </div>
                    <div>
                      <div class="w-100 d-block">
                        <span class="text-dark-gray alt-font fw-500">Category:</span>
                        <a href="#">
                          <%= category.name %>
                      </div>
                      <div>
                        <span class="text-dark-gray alt-font fw-500">Manufacturer: </span><a href="#">
                          <%= manufacturer.name %>
                        </a>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-0 pb-0">
        <div class="container">
          <div class="row">
            <div class="col-12 text-black">
              <p>
                <%= data.short_desc %>
              </p>
              <% if(data.video){%>
              <div class="container iframe-container">
                  <%- data.video %>
                </div>
                <%}%>
            </div>
          </div>
        </div>
      </section>

      <section id="tab pt-0">
        <div class="container">
          <div class="row">
            <div class="col-12 tab-style-04"
              data-anime='{ "translate": [0, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'>
              <ul class="nav nav-tabs border-0 justify-content-center alt-font fs-17 fw-500">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="#tab_five2">Additional information<span
                      class="tab-border bg-dark-gray"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="#tab_five4" data-tab="review-tab">Reviews (<%=
                      reviews.length %>)<span class="tab-border bg-dark-gray"></span></a>
                </li>
              </ul>
              <div class="mb-6 h-1px w-100 bg-extra-medium-gray sm-mt-10px"></div>
              <div class="tab-content">
                <div class="tab-pane active show " id="tab_five2">
                  <div class="row m-0">
                    <div class="col-12">
                      <div class="row">
                        <span class="text-black"></span>
                        <%- data.long_desc %>
                          <div
                            class="col-lg-2 col-md-3 col-sm-4 pt-10px pb-10px xs-pb-0 text-dark-gray alt-font fw-600">
                            Dimension:
                          </div>
                          <div class="col-lg-10 col-md-9 col-sm-8 pt-10px pb-10px xs-pt-0">
                            <%= data.dimension %> cm
                          </div>
                      </div>
                      <div class="row bg-very-light-gray">
                        <div class="col-lg-2 col-md-3 col-sm-4 pt-10px pb-10px xs-pb-0 text-dark-gray alt-font fw-600">
                          Product weight:
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-8 pt-10px pb-10px xs-pt-0">
                          <%= data.weight %> gm
                        </div>
                      </div>

                    </div>
                  </div>

                </div>


                <div class="tab-pane fade in" id="tab_five4">
                  <div class="row g-0 mb-4 md-mb-35px" id="reviews_container">
                    <% if(reviews.length == 0){%>
                      <p class="d-flex justify-content-center fs-17 text-dark-gray">
                       No reviews present
                      </p>
                    <%}%>
                    <% reviews.forEach(review=>{ %>

                      <div
                        class="col-12 border-bottom border-color-extra-medium-gray pb-40px mb-40px xs-pb-30px xs-mb-30px">
                        <div class="d-block d-md-flex w-100 align-items-center">
                          <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                            <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px"
                              alt />
                            <span class="text-dark-gray fw-600 d-block">
                              <%= review.name %>
                            </span>
                            <div class="fs-14 lh-18">
                              <% var date=new Date(review.created_at).toLocaleString('en-US',
                                {day:"numeric",month:"short",year:"numeric"}) %>
                                <%= date %>
                            </div>
                          </div>
                          <div
                            class="w-100 last-paragraph-no-margin sm-ps-0 position-relative text-center text-md-start">
                            <span
                              class="text-golden-yellow ls-minus-1px mb-5px sm-me-10px sm-mb-0 d-inline-block d-md-block">
                              <% for(var i=0;i<review.rating;i++ ){%>
                                <i class="bi bi-star-fill"></i>
                                <%}%>
                                  <% for(var i=0;i<5-review.rating;i++ ){%>
                                    <i class="feather icon-feather-star text-golden-yellow"></i>
                                    <%}%>
                            </span>

                            <p class="w-85 sm-w-100 sm-mt-15px">
                              <%= review.comment %>
                            </p>
                          </div>
                          <% if(user.id && user.id==review.user_id){%>
                            <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                              <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px"
                                alt />
                              <a data-user="<%= user.id %>" data-product="<%= data.id %>"
                                class="removeComment bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-id="<%= review.id %>" data-bs-placement="top"
                                title="Remove Comment"><i class="feather icon-feather-trash-2 text-red"></i></a>
                            </div>
                            <%}%>
                        </div>
                      </div>
                      <%})%>

                        <!-- <div class="col-12 last-paragraph-no-margin text-center">
                          <a href="#"
                            class="btn btn-link btn-hover-animation-switch btn-extra-large fw-600 text-dark-gray">
                            <span>
                              <span class="btn-text">Show more reviews</span>
                              <span class="btn-icon"><i class="fa-solid fa-chevron-down"></i></span>
                              <span class="btn-icon"><i class="fa-solid fa-chevron-down"></i></span>
                            </span>
                          </a>
                        </div> -->
                  </div>
                  <% if(user.id) {%>
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="p-7 lg-p-5 sm-p-7 bg-very-light-gray">
                          <div class="row justify-content-center mb-30px sm-mb-10px">
                            <div class="col-md-9 text-center">
                              <h4 class="alt-font text-dark-gray fw-700 mb-20px">
                                Add a review
                              </h4>
                            </div>
                          </div>
                          <form id="comment_form" class="row contact-form-style-02">
                            <input type="hidden" name="user_id" value="<%=user.id %>" />
                            <input type="hidden" name="product_id" value="<%=data.id %>" />
                            <div class="col-lg-2 mb-20px">
                              <label class="form-label">Your rating*</label>
                              <div>
                                <span
                                  class="text-golden-yellow ls-minus-1px mb-5px sm-me-10px sm-mb-0 d-inline-block d-md-block">
                                  <i class="feather icon-feather-star r_rating text-golden-yellow"></i>
                                  <i class="feather icon-feather-star r_rating text-golden-yellow"></i>
                                  <i class="feather icon-feather-star r_rating text-golden-yellow"></i>
                                  <i class="feather icon-feather-star r_rating text-golden-yellow"></i>
                                  <i class="feather icon-feather-star r_rating text-golden-yellow"></i>
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 mb-20px">
                              <label class="form-label mb-15px">Your review</label>
                              <textarea class="border-radius-4px form-control" cols="40" rows="4" name="comment"
                                placeholder="Your message"></textarea>
                            </div>
                            <div class="col-lg-9 md-mb-25px">
                              <div class="position-relative terms-condition-box text-start mt-10px">
                                <label class="d-inline-block">
                                  <input type="checkbox" name="terms_condition" id="terms_condition" value="1"
                                    class="terms-condition check-box align-middle required" />
                                  <span class="box fs-15">I accept the packsafe terms and conditions and I have
                                    read the privacy policy.</span>
                                </label>
                              </div>
                            </div>
                            <div class="col-lg-3 text-start text-lg-end">
                              <input type="hidden" name="redirect" value />
                              <button class="btn btn-base-color btn-small btn-box-shadow btn-round-edge submit"
                                id="form_submitter" type="submit">
                                Submit review
                              </button>
                            </div>
                            <div class="col-12">
                              <div class="form-results mt-20px d-none"></div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <% if(relatedProducts.length>0){%>
        <section class="pt-0">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-5 text-center mb-25px sm-mb-10px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <span class="text-uppercase fs-14 ls-2px fw-600">You may also like</span>
                <h4 class="alt-font text-dark-gray fw-700 mb-20px">Related products</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 px-0 sm-ps-15px sm-pe-15px">
                <ul
                  class="shop-boxed shop-wrapper grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center"
                  data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                  <li class="grid-sizer"></li>

                  <% for(var i=0;i<relatedProducts.length;i++) { %>
                    <% if(relatedProducts[i].slug!=data.slug) { %>
                      <li class="grid-item">
                        <div class="shop-box pb-25px">
                          <div class="shop-image">
                            <a href="/product/<%= relatedProducts[i].slug %>">
                              <img src="/api/transform/<%= JSON.parse(relatedProducts[i].data_image) %>" alt />
                              <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                            </a>
                            <div class="shop-hover d-flex justify-content-center">
                              <a class="bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><i
                                  class="feather icon-feather-heart fs-15"></i></a>
                              <a data-id="<%= relatedProducts[i].id %>"
                                class="quick-add-to-cart bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Add to cart"><i
                                  class="feather icon-feather-shopping-bag fs-15"></i></a>

                            </div>
                          </div>
                          <div class="shop-footer text-center pt-20px">
                            <a href="/product/<%= relatedProducts[i].slug %>"
                              class="text-dark-gray fs-17 alt-font fw-600">
                              <%= relatedProducts[i].name %>
                            </a>
                            <div class="fw-500 fs-15 lh-normal">
                              ₹ <%= relatedProducts[i].price %>
                            </div>
                          </div>
                        </div>
                      </li>
                      <% } %>
                        <% } %>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <% } %>
          <script>
            var u_rating
            const raters = document.getElementsByClassName("r_rating")
            for (let i = 0; i < raters.length; i++) {
              raters[i].addEventListener("click", function () {
                raters[i].className = "feather icon-feather-star r_rating text-golden-yellow"
                u_rating = i + 1
                for (let j = 0; j < raters.length; j++) {
                  if (j <= i) {
                    raters[j].className = "bi bi-star-fill r_rating"
                  } else {
                    raters[j].className = "feather icon-feather-star r_rating text-golden-yellow"
                  }
                }
              })
            }

            document.getElementById("form_submitter")?.addEventListener("click", () => {
              const comment_data = {}
              const form = new FormData(document.getElementById("comment_form"))
              form.append("rating", u_rating)
              form.forEach((value, key) => {
                comment_data[key] = value;
              });
              fetch("/addComment", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(comment_data)
              }).then(res => res.json()).then(data => {
                if (data.status == "false") {
                  Toastify({
                    text: data.message,
                    duration: 3000, // Duration in milliseconds
                    close: true, // Show close button
                    gravity: "top", // Toast position - top or bottom
                    position: "right", // Toast position - left, center or right
                    backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)", // Background color
                    className: "error-toast", // Custom class name for styling
                  }).showToast()
                } else {
                  let reviewHtml = '';

                  data.data.forEach(review => {
                    let jgd = '';

                    reviewHtml += `
        <div class="col-12 border-bottom border-color-extra-medium-gray pb-40px mb-40px xs-pb-30px xs-mb-30px">
            <div class="d-block d-md-flex w-100 align-items-center">
                <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                    <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px" alt />
                    <span class="text-dark-gray fw-600 d-block">${review.name}</span>
                    <div class="fs-14 lh-18">${review.date}</div>
                </div>
                <div class="w-100 last-paragraph-no-margin sm-ps-0 position-relative text-center text-md-start">
                    <span class="text-golden-yellow ls-minus-1px mb-5px sm-me-10px sm-mb-0 d-inline-block d-md-block">
                        ${getStarsHtml(review.rating)}
                    </span>
                    <p class="w-85 sm-w-100 sm-mt-15px">${review.comment}</p>
                </div>
    `;
                    if (review.user_id == Number(data.user_id)) {
                      jgd = `
            <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px" alt />
                <a data-user="${review.user_id}" data-product="${review.product_id}"
                    class="removeComment bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                    data-bs-toggle="tooltip" data-id="${review.product_id}" data-bs-placement="top"
                    title="Remove Comment">
                    <i class="feather icon-feather-trash-2 text-red"></i>
                </a>
            </div>
        `;
                    }

                    reviewHtml += jgd + `
            </div>
        </div>
    `
                  });

                  document.getElementById("reviews_container").innerHTML = reviewHtml;

                  const deleter = document.getElementsByClassName("removeComment")
                  for (let I = 0; I < deleter.length; I++) {
                    const obj = deleter[I];
                    obj.addEventListener("click", () => {
                      const c_id = obj.getAttribute("data-id")
                      const user = obj.getAttribute("data-user")
                      const product = obj.getAttribute("data-product")
                      deleteComment(c_id, user, product)
                    })
                  }
                }
              }
              )
            })

            function getStarsHtml(rating) {
              var starsHtml = '';
              for (var i = 0; i < rating; i++) {
                starsHtml += '<i class="bi bi-star-fill"></i>';
              }
              for (var i = 0; i < 5 - rating; i++) {
                starsHtml += '<i class="feather icon-feather-star text-golden-yellow"></i>';
              }
              return starsHtml;
            }

            const deleter = document.getElementsByClassName("removeComment")
            for (let I = 0; I < deleter.length; I++) {
              const obj = deleter[I];
              obj.addEventListener("click", () => {
                const c_id = obj.getAttribute("data-id")
                const user = obj.getAttribute("data-user")
                const product = obj.getAttribute("data-product")
                deleteComment(c_id, user, product)
              })
            }

            function deleteComment(id, user, product) {
              fetch("/removeComm", {
                method: "POST", body: JSON.stringify({ comment_id: id, user_id: user, product_id: product }), headers: { 'Content-Type': 'application/json' }
              }).then(res => res.json()).then(data => {
                if (data.status == "false") {
                  Toastify({
                    text: data.message,
                    duration: 3000, // Duration in milliseconds
                    close: true, // Show close button
                    gravity: "top", // Toast position - top or bottom
                    position: "right", // Toast position - left, center or right
                    backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)", // Background color
                    className: "error-toast", // Custom class name for styling
                  }).showToast()
                } else {
                  let reviewHtml = '';

                  data.data.forEach(review => {
                    let jgd = '';

                    reviewHtml += `
        <div class="col-12 border-bottom border-color-extra-medium-gray pb-40px mb-40px xs-pb-30px xs-mb-30px">
            <div class="d-block d-md-flex w-100 align-items-center">
                <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                    <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px" alt />
                    <span class="text-dark-gray fw-600 d-block">${review.name}</span>
                    <div class="fs-14 lh-18">${review.date}</div>
                </div>
                <div class="w-100 last-paragraph-no-margin sm-ps-0 position-relative text-center text-md-start">
                    <span class="text-golden-yellow ls-minus-1px mb-5px sm-me-10px sm-mb-0 d-inline-block d-md-block">
                        ${getStarsHtml(review.rating)}
                    </span>
                    <p class="w-85 sm-w-100 sm-mt-15px">${review.comment}</p>
                </div>
    `;

                    if (review.user_id == Number(data.user_id)) {
                      jgd = `
            <div class="w-300px md-w-250px sm-w-100 sm-mb-10px text-center">
                <img src="api/transform/assets/images/avtar-27.jpg" class="rounded-circle w-90px mb-10px" alt />
                <a data-user="${review.user_id}" data-product="${review.product_id}"
                    class="removeComment bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                    data-bs-toggle="tooltip" data-id="${review.id}" data-bs-placement="top"
                    title="Remove Comment">
                    <i class="feather icon-feather-trash-2 text-red"></i>
                </a>
            </div>
        `;
                    }

                    reviewHtml += jgd + `
            </div>
        </div>
    ` ;
                  });

                  document.getElementById("reviews_container").innerHTML = reviewHtml;

                  const deleter = document.getElementsByClassName("removeComment")
                  for (let I = 0; I < deleter.length; I++) {
                    const obj = deleter[I];
                    obj.addEventListener("click", () => {
                      const c_id = obj.getAttribute("data-id")
                      const user = obj.getAttribute("data-user")
                      const product = obj.getAttribute("data-product")
                      deleteComment(c_id, user, product)
                    })
                  }

                }
              }
              )
            }
                    function openPdf() {
                        window.open(`/<%= data.brochure %>`, "_blank");
                    }
          </script>
          <%- include('partials/footer') %>