<%- include('partials/head') %>

  <body data-mobile-nav-style="classic">
    <%- include('partials/header') %>


      <section class="page-title-center-alignment cover-background top-space-padding"
        style="background-image: url(<%=JSON.parse(globalContent.page_cover)[0] %>)">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center position-relative page-title-extra-large">
              <h1 class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px">
                <%= globalContent.page_title %>
              </h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
              <ul>
                <li><a href="/">Home</a></li>
                <li>
                  <%= globalContent.breadcrumb_name %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="ps-6 pe-6 lg-ps-3 lg-pe-3 sm-ps-0 sm-pe-0">
        <div class="container-fluid">
          <div class="row flex-row-reverse">
            <div class="col-xxl-10 col-lg-9 ps-5 md-ps-15px md-mb-60px">
              <div
                class="toolbar-wrapper border-bottom border-color-extra-medium-gray d-flex flex-column flex-sm-row align-items-center w-100 mb-40px md-mb-30px pb-15px"
                data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":50, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="xs-mb-10px">
                  <!-- <a href="#" class="me-10px"><img src="assets/images/shop-two-column.svg" class="opacity-5" alt /></a> -->
                  <!-- <a href="#" class="me-10px"><img src="assets/images/shop-three-column.svg" class="opacity-5" alt /></a> -->
                  <a href="#" class="me-10px"><img src="assets/images/shop-four-column.svg" class="opacity-5" alt /></a>
                  <!-- <a href="#"><img src="assets/images/shop-list.svg" class="opacity-5" alt /></a> -->
                </div>
                <div class="ms-20px xs-ms-0">Showing <%= totalProducts %> results</div>
                <div class="mx-auto me-sm-0">
                  <select class="form-select border-0 background-position-right" aria-label="Default sorting">
                    <option selected>Default sorting</option>
                    <!-- <option value="1">Sort by popularity</option>
                <option value="2">Sort by average rating</option>
                <option value="3">Sort by latest</option>
                <option value="4">Sort by price: low to high</option>
                <option value="5">Sort by price: high to low</option> -->
                  </select>
                </div>
              </div>
              <ul
                class="shop-boxed shop-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <li class="grid-sizer"></li>
                <% if(totalProducts==0 ){ %>
                  <h4 class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px">
                    No Products Found
                  </h4>

                  <% } %>
                    <% for(var i=0;i<products.length;i++) { %>
                      <li class="grid-item">
                        <div class="shop-box pb-25px">
                          <div class="shop-image">
                            <a href="/product/<%= products[i].slug %>">
                              <img src="/api/transform/<%= JSON.parse(products[i].data_image)[0] %>" alt />
                              <span class="lable new">Hot</span>
                              <div class="product-overlay bg-gradient-extra-midium-gray-transparent"></div>
                            </a>
                            <div class="shop-hover d-flex justify-content-center">
                              <a href="#"
                                class="bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><i
                                  class="feather icon-feather-heart fs-15"></i></a>
                              <a data-id="<%= products[i].id %>"
                                class="quick-add-to-cart bg-white w-45px h-45px text-dark-gray d-flex flex-column align-items-center justify-content-center rounded-circle ms-5px me-5px box-shadow-medium-bottom"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Add to cart"><i
                                  class="feather icon-feather-shopping-bag fs-15"></i></a>

                            </div>
                          </div>
                          <div class="shop-footer text-center pt-20px">
                            <a href="product/<%= products[i].slug %>" class="text-dark-gray fs-15 alt-font fw-600">
                              <%= products[i].name %>
                            </a>
                            <div class="fw-500 fs-15 lh-normal">
                              <% if(products[i].substract_stock !=0){
                                if(products[i].quantity ==0){%>
                                  <span class="text-red fs-15 fw-700 ls-minus-1px">
                                    Out Of Stock!!
                                  </span>
                                <%}else{%> ₹ <%= products[i].spl_price %><%}%>
                              <%}else{%> ₹ <%= products[i].spl_price %><%}%>
                            </div>
                          </div>
                        </div>
                      </li>
                      <% }%>
              </ul>
              <div class="w-100 d-flex mt-3 justify-content-center"
                data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <ul class="pagination pagination-style-01 fs-13 fw-500 mb-0">
                  <% console.log(Pagebrands) %>
                  <% if(page_no!=1){%>
                    <li class="page-item">
                      <a class="page-link" href="shop?categories=<%= Pagecategories %>&brands=<%= Pagebrands %>&page=<%= Number(page_no)-1 %>"><i
                          class="feather icon-feather-arrow-left fs-18 d-xs-none"></i></a>
                    </li>
                    <% } %>
                      <% if(page_no !=Math.ceil(totalProducts/12)){%>
                        <li class="page-item">
                          <a class="page-link" href="shop?categories=<%= Pagecategories %>&brands=<%= Pagebrands %>&page=<%= Number(page_no)+1 %>"><i
                              class="feather icon-feather-arrow-right fs-18 d-xs-none"></i></a>
                        </li>
                        <% } %>
                </ul>
              </div>
            </div>
            <div class="col-xxl-2 col-lg-3 shop-sidebar">
              <div class="mb-30px">
                <span class="alt-font fw-600 fs-17 text-dark-gray d-block mb-10px">Filter by categories</span>
                <ul class="fs-15 shop-filter category-filter">
                  <% for(i=0;i<cat.length;i++) { %>
                    <li class="">
                      <a href="shop?categories=<%= cat[i].slug %>"><span class="product-cb product-category-cb"></span>
                        <%= cat[i].name %>
                      </a><span class="item-qty"></span>
                    </li>
                    <% } %>
                </ul>
              </div>
             <!-- <div class="mb-30px">
                <span class="alt-font fw-600 fs-17 text-dark-gray d-block mb-10px">Filter by Sub Categories</span>
                <ul class="fs-15 shop-filter category-filter">
                  <% for(i=0;i<cat.length;i++) { %>
                    <li class="">
                      <a href="shop?categories=<%= cat[i].slug %>"><span class="product-cb product-category-cb"></span>
                        <%= cat[i].name %>
                      </a><span class="item-qty"></span>
                    </li>
                    <% } %>
                </ul>
              </div> -->

              <div class="mb-30px">
            <span class="alt-font fw-600 fs-17 text-dark-gray d-block mb-10px">Filter by Brands</span>
            <ul class="fs-15 shop-filter category-filter">
              <% for(i=0;i<manf.length;i++) { %>
              <li>
                <a href="shop?categories=<%= categories %>&brands=<%= manf[i].slug %>"><span class="product-cb product-category-cb"></span><%= manf[i].name %>
                </a>
              </li>
            <% } %>
            </ul>
          </div>
          

              <!-- <div class="mb-30px">
          <span class="alt-font fw-600 fs-17 text-dark-gray d-block mb-10px"
            >Filter by price</span
          >
          <ul class="fs-15 shop-filter price-filter">
            <li>
              <a href="#"
                ><span class="product-cb product-category-cb"></span>Under
                $25</a
              ><span class="item-qty">08</span>
            </li>
            <li>
              <a href="#"
                ><span class="product-cb product-category-cb"></span>$25 to
                $50</a
              ><span class="item-qty">05</span>
            </li>
            <li>
              <a href="#"
                ><span class="product-cb product-category-cb"></span>$50 to
                $100</a
              ><span class="item-qty">25</span>
            </li>
            <li>
              <a href="#"
                ><span class="product-cb product-category-cb"></span>$100 to
                $200</a
              ><span class="item-qty">18</span>
            </li>
            <li>
              <a href="#"
                ><span class="product-cb product-category-cb"></span>$200 &
                Above</a
              ><span class="item-qty">36</span>
            </li>
          </ul>
        </div> -->

            </div>
          </div>
        </div>
        </div>
      </section>
      <%- include('partials/footer') %>