<%- include('partials/head') %>

  <body data-mobile-nav-style="classic">
    <%- include('partials/header') %>

      <section class="page-title-center-alignment cover-background top-space-padding"
        style="background-image: url(<%= JSON.parse(globalContent.page_cover) %>)">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center position-relative page-title-extra-large">
              <h1 class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px">
                <%= globalContent.page_title %>
              </h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex text-base-color justify-content-center">
              <ul>
                <li><a href="/">Home</a></li>
                <li>
                  <%= globalContent.page_breadcrumb %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="position-relative">
        <div class="container">
          <div
            class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-center align-items-center"
            data-anime='{ "el": "childs", "translateY": [50, 0], "translateX": [-50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <% var feat_store=JSON.parse(globalContent.store_data); for(i=0;i<feat_store.length; i++) { %>
              <div class="col categories-style-01 text-center mb-50px xs-mb-35px">
                <div class="categories-box">
                  <div class="icon-box position-relative mb-10px">
                    <a href="<%= feat_store[i].link %>"><img src="<%= feat_store[i].img %>" alt /></a>
                    <div
                      class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12">
                      <%= i+1 %>
                    </div>
                  </div>
                  <a href="<%= feat_store[i].link %>" class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover">
                    <%= feat_store[i].name %>
                  </a>
                </div>
              </div>
              <% } %>

                <!-- <div class="col categories-style-01 text-center mb-50px xs-mb-35px">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-03.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                05
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Table clock</a
            >
          </div>
        </div>

        <div class="col categories-style-01 text-center mb-50px xs-mb-35px">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-04.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                07
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Home decor</a
            >
          </div>
        </div>

        <div class="col categories-style-01 text-center md-mb-50px xs-mb-35px">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-05.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                08
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Ceramic pots</a
            >
          </div>
        </div>

        <div class="col categories-style-01 text-center md-mb-50px xs-mb-35px">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-06.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                04
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Table lamp</a
            >
          </div>
        </div>

        <div class="col categories-style-01 text-center xs-mb-35px">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-07.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                02
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Wooden table</a
            >
          </div>
        </div>

        <div class="col categories-style-01 text-center">
          <div class="categories-box">
            <div class="icon-box position-relative mb-10px">
              <a href="demo-decor-store-shop.html"
                ><img
                  src="assets/images/demo-decor-store-menu-collections-08.jpg"
                  alt
              /></a>
              <div
                class="count-circle d-flex align-items-center justify-content-center w-35px h-35px bg-base-color text-white rounded-circle alt-font fw-600 fs-12"
              >
                05
              </div>
            </div>
            <a
              href="demo-decor-store-shop.html"
              class="alt-font fw-600 fs-17 text-dark-gray text-dark-gray-hover"
              >Designer sofa</a
            >
          </div>
        </div> -->
          </div>
          <div class="row justify-content-center xs-mt-12"
            data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay":100, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-xl-9 col-lg-10">
              <div
                class="row align-items-center justify-content-center border border-color-extra-medium-gray border-radius-100px sm-border-radius-6px sm-mx-0">
                <div
                  class="col-md-6 p-20px border-end border-color-transparent-dark-very-light text-center ls-minus-05px align-items-center d-flex justify-content-center sm-border-end-0 sm-pb-0 sm-mb-10px">
                  <i class="bi bi-emoji-smile text-dark-gray icon-extra-medium me-10px"></i>
                  <span class="text-dark-gray fs-18 text-start fw-500 xs-lh-28">YOU CAN ALSO BUY OUR PRODUCTS FROM OUR
                    E-COMMERCE
                    PARTNERS.</span>
                </div>
                <div
                  class="col-md-6 p-20px sm-pt-0 text-center ls-minus-05px align-items-center d-flex justify-content-center">
                  <i class="bi bi-star text-dark-gray icon-extra-medium me-10px"></i>
                  <span class="text-dark-gray fs-18 text-start fw-500">Packsafe.in</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>
  </body>