<%- include('partials/head') %>

<body data-mobile-nav-style="classic">
  <%- include('partials/header') %>


<section
  class="page-title-center-alignment cover-background top-space-padding"
  style="background-image: url(/assets/images/demo-decor-store-title-bg.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center position-relative page-title-extra-large">
        <h1
          class="alt-font d-inline-block fw-700 ls-minus-05px text-base-color mb-10px mt-3 md-mt-50px"
        >
          Order : <%= order_data.id %>
        </h1>
      </div>
      <div
        class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center"
      >
        <ul>
          <li><a href="demo-decor-store.html">Home</a></li>
          <li>Order Details</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 pe-50px md-pe-15px md-mb-50px xs-mb-35px">
        <div class="row align-items-center">
          <div class="col-12">
            <table class="table order_data-products">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" class="alt-font fw-600">Product</th>
                  <!-- <th scope="col"></th> -->
                  <th scope="col" class="alt-font fw-600">Price</th>
                  <th scope="col" class="alt-font fw-600">Quantity</th>
                  <th scope="col" class="alt-font fw-600">Total</th>
                </tr>
              </thead>
              <tbody>
                <% if(order_data.products.length>0) {for(var c=0;c<order_data.products.length;c++) { %>
                <tr>
                  <td class="product-thumbnail">
                    <a href="/product/<%= order_data.products[c].slug %>">
                      <!-- <img
                        class="cart-product-image"
                        src="/assets/images/demo-decor-store-product-01.jpg"
                        alt
                    /> -->
                  </a>
                  </td>
                  <td class="product-name">
                    <a
                      href="/product/<%= order_data.products[c].slug %>"
                      class="text-dark-gray fw-500 d-block lh-initial"
                      ><%= order_data.products[c].name %></a
                    >
                  </td>
                  <td class="product-price" data-title="Price"><%= order_data.products[c].price %></td>
                  <td class="product-quantity" data-title="Quantity">
                    <div class="quantity">
                      <!-- <button type="button" class="qty-minus">-</button> -->
                      <input
                        class="qty-text"
                        type="text"
                        id="1"
                        disabled
                        value="<%= order_data.products[c].quantity %>"
                        aria-label="qty-text"
                      />
                      <!-- <button type="button" class="qty-plus">+</button> -->
                    </div>
                  </td>
                  <td class="product-subtotal" data-title="Total"><%= parseInt(order_data.products[c].price)*order_data.products[c].quantity  %></td>
                </tr>
                <% } }else{%> <tr class="fw-600 text-dark-gray alt-font flex justify-content-center"><td>No Products Found</td></tr><% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="bg-very-light-gray border-radius-6px p-50px xl-p-30px lg-p-25px"
        >
          <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block"
            >Order Details</span
          >
          <table class="w-100 total-price-table">
            <tbody>
              <tr class="total-amount">
                <td class="pb-0" data-title="Total">
                  <h6 class="totalAmountContainer d-block fw-700 mb-0 text-dark-gray alt-font">
                    <span class="fs-14">Amount</span>
                    ₹ <%= order_data.amount %>
                  </h6>
                </td>
              </tr>
              <tr class="shipping">
                <td class="pb-0" data-title="Shipping">
                  <h6 class=" d-block fw-700 mb-0 text-dark-gray alt-font">
                    <span class="fs-14">Status</span>
                    <span class=" text-Wasabi"> <% if(order_data.status===-1){%>Failed<%}else if(order_data.status===0){%>Pending payment<%}else if(order_data.status===1){%>Payment Confirmed<%}else if(order_data.status===2){%>Delivery Scheduled<%}else if(order_data.status===3){%>Dispatched<%}else if(order_data.status===4){%>Cancelled <%}%> </span>
                  </h6>
                </td>
                </tr>
              <tr class="date">
                  <td class="pb-0" data-title="date">
                    <h6 class=" d-block fw-700 mb-0 text-dark-gray alt-font">
                      <span class="fs-14">Order Date</span>
                      <span class="text-crusoe-green"> <%=new Date(order_data.inserted_on).toLocaleDateString()%> </span>
                    </h6>
                  </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-6">
        <div
          class="bg-very-light-gray border-radius-6px p-50px xl-p-30px lg-p-25px"
        >
          <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block"
            >Shipping Address</span
          >
          <table class="w-100 total-price-table">
            <tbody>
              <tr class="shipping">
               <td data-title="Shipping">
                <ul class="p-0 m-0">
                <li class="d-flex align-items-center">
                <span class="md-line-height-18px" for="free_shipping"><%= order_data.ship_name %> <br><span class="fw-600 text-dark-gray alt-font me-10px"><%= order_data.ship_pincode %></span> <%= order_data.ship_address+", "+order_data.ship_city+", "+order_data.ship_state %></span>
                </li>
                </ul>
                </td>
                </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      <div class="col-6">
        <div
          class="bg-very-light-gray border-radius-6px p-50px xl-p-30px lg-p-25px"
        >
          <span class="fs-26 alt-font fw-600 text-dark-gray mb-5px d-block"
            >Billing Address </span
          >
          <table class="w-100 total-price-table">
            <tbody>
              <tr class="shipping">
                <td data-title="Shipping">
                <ul class="p-0 m-0">
                <li class="d-flex align-items-center">
                <span class="md-line-height-18px" for="free_shipping"><%= order_data.name %> <br><span class="fw-600 text-dark-gray alt-font me-10px"><%= order_data.pincode %></span><%= order_data.address+", "+order_data.city+", "+order_data.state %></span>
                </li>
                </ul>
                </td>
                </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      
    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <span class="text-red">Note:</span>
        <span class="text-golden-yellow">Shipping address cannot be changed once the order is placed</span>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
